.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 100%;
  max-width: 25rem;
  margin: auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

/* Center the login card */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
